<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

    <div id="app">
        <input type="text" v-model="departmentName" />
        <button @click="loadMessage">查询</button>
        <ul>
            <li v-for="m in messages">
                <p>{{m.departmentName}}</p>
                <p>{{m.departmentAddress}}</p>
                <p>{{m.departmentDescription}}</p>
            </li>
        </ul>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="./axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        let vue = new Vue({
            //vue模板的范围是一个非body元素
            el: '#app',
            //用于双向绑定的数据
            data: {
                departmentName: '',
                messages: []
            },
            //定义Vue中调用的方法
            methods: {
                loadMessage() {
                    //同过网络（ajax）访问数据
                    // this.messages = [{"messageId":1,"departmentName":"lisi","time":"May 9, 2021 11:44:13 AM","info":"hello"},{"messageId":2,"departmentName":"zhangsan","time":"May 3, 2021 11:45:48 AM","info":"hahaha"}];
                    axios.request({
                        url: 'http://localhost:8080/EIMS/department/list',
                        method: 'get',
                        params: {
                            name: this.departmentName
                        }
                    }).then((res) => {

                        this.messages = res.data;
                    })
                }
            },
            //生命周期中8个钩子函数中的一个，vue对象已经创建完成的阶段
            created() { //created:function()
                //this表示当前Vue对象
                this.loadMessage()
            }
        });
    </script>
</body>

</html>